html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  font-style: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 1rem, 1.5rem;
  margin: 1rem, 1.5rem;
}

h1 {
  font-style: italic;
  font-size: 1.8rem;
}

main {
  background-color: #464646;
  background-image: url(../images/maerten-van-heemskerck-panorama-with-the-abduction-of-helen-amidst-the-wonders-of-the-ancient-world-walters-37656);
  background-size: cover;
  background-position: top;
  color: #fff;
  text-align: center;
  padding: 1em;
}
